.contact-section {
    padding: 50px;
    text-align: center;
    background-color: black;
    opacity: 0.9;
    color: white;
    margin: 50px;
    margin-top: 20px;
    font-style: oblique;
}

#contact_content {
    background-color: antiquewhite;
}

.contact_medium {
    float: left;
    margin: auto;
    color: black;
    padding: 2%;
    width: 29.1%;
    height: 300px;
}

.contact_medium a {
    text-decoration: none;
    color: black;
}


.contact-section {
    font-style: oblique;
}

#text_content {
    background-color: black;
    color: white;
    text-align: center;
    opacity: 1;
    padding: 10px;
    line-height: 1.8;
}

#contact_options {
    background-color: white;
    color: black;
    margin: auto;
    margin-top: 2%;
    width: 90%;
    height: fit-content;
    border: 2px solid black;
    margin-bottom: 20%;
    overflow: auto;
}

.contact_logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: black solid;

}

table {
    border-spacing: 10px;
}

table input,
textarea {
    border-radius: 30px;
    width: fit-content;
    border: 2px solid black;
    height: 30px;

}

table td {
    width: fit-content;
}

textarea {
    height: 85px;

}

#contact_form_table {
    margin: auto;
    margin-top: 2%;
    width: fit-content;
    color: black;
    font-weight: bold;
    border: black solid;
    border-radius: 30px;
}

#contact_form_table h4 {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

}

table button {
    background-color: black;
    border-radius: 100px;
    box-shadow: rgba(1, 1, 1, .2) 0 -25px 18px -14px inset, rgba(1, 1, 1, .15) 0 1px 2px,
        rgba(1, 1, 1, .15) 0 2px 4px, rgba(1, 1, 1, .15) 0 4px 8px, rgba(1, 1, 1, .15) 0 8px 16px,
        rgba(1, 1, 1, .15) 0 16px 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    border: 0;
    font-size: 16px;
    margin-left: 90%;
}

table button:hover {
    box-shadow: rgba(38, 40, 38, 0.35) 0 -25px 18px -14px inset,
        rgba(38, 40, 38, 0.35) 0 1px 2px,
        rgba(38, 40, 38, 0.35) 0 2px 4px,
        rgba(38, 40, 38, 0.35) 0 4px 8px,
        rgba(38, 40, 38, 0.35) 0 8px 16px, rgba(38, 40, 38, 0.35) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}