#contact_content {
    background-color: antiquewhite;
    /* margin: 10px; */
}

.contact_medium {
    float: left;
    margin: auto;
    color: white;
    padding: 2%;
    /* margin: auto; */
    /* width: 30%; */

}

.contact_medium a{
   text-decoration: none;
   color: white;
    /* margin: auto; */
    /* width: 30%; */

}



#text_content {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  opacity: 1;
  /* padding: 5px; */

}

#contact_options {
    background-color: black ;
    opacity: 0.8;
    color: white;
    width: fit-content;
    position:absolute;
    top:10%;
    right:3%;
    margin: 3%;
    width: 60%;
    /* padding: 3%; */
}

.contact_logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: black solid;

}

table {
    border-spacing: 10px;
    /* width: 100%; */
    /* color: teal; */
}

table input,
textarea {
    border-radius: 30px;
    width: fit-content;
    border: 2px solid black;
    height: 30px;

}

table td {
    width: fit-content;
}

textarea {
    height: 85px;

}

#contact_form_table {
    margin: 10px;
    width: fit-content;
    color: black ;
    font-weight: bold;
    border: black solid;
    border-radius: 30px;
}

#contact_form_table h4 {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

}

/* CSS */
table button {
    background-color: black;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 90%;
}

table button:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}