#left_nav {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;

    width: fit-content;
    background-color: black;
    position: fixed;
    height: fit-content;
    overflow: auto;
  }
  
  #left_nav li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }

  #left_nav li a:hover {
    background-color: white;
    color: #233647;
}
.active{
    background-color: white;
    color: #233647;
}

#left_nav li:first-of-type{
	background-color: white;
  color: black;
  /*  */
  /* padding: 8px 16px; */

  /* position: absolute; */
  top: 15px;
  left: 15px;
  padding: 11px;
}
