
/* .outer-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  height: 100%;
} */


.card img{
  width: 100%;
  height: 200px;
  
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-bottom: 20%;
    /* height: 30%; */
    
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
   button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* margin: 20px; */
  }
  


  .card button:hover {
    opacity: 0.7;
  }

  
.card {
    background-color: white;
   max-width: 300px;
    /* height: 300px; */
    perspective: 1000px;
  }
  
 .card .flip-card-inner,button {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    /* border: 2px solid black;
    border-radius: 30px; */
  }
  
  .card:hover .flip-card-inner {
    transform: rotateY(180deg);
  
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 70%;
    margin-top: 20%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  
  }
  
  .flip-card-front {
    /* background-color: #bbb; */
    color: black;
    /* border: 2px solid rgba(0,0,0,1); */

  }

  .flip-card-front p {
   padding: 15px;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: black;
    transform: rotateY(180deg);
    border: 2px dotted rgba(0,0,0,0.2);

  }

  .flip-card-back li{
    padding: 20px;
  }

  .row{
      margin-bottom: 20%;
    
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: right;
    width: 25%;
    padding: 0 10px;
    margin-bottom: 30%;
    
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}

  .row{
    margin-bottom: 30%;
    /* width: 70%; */
    /* margin-left: 30%; */
    position: relative;

    z-index: -100;
  }

  #left_nav{
    margin-bottom: 30%;
    margin-top: 10px;
    position: absolute;
    z-index: 100;

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    /* clear: both; */
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* padding: 16px; */
    text-align: center;
    /* background-color: #f1f1f1; */
    margin: 3%;
  }